body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    
}

.hero{
    width:100%;
}

.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Headers{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heroHeader{
    display: flex;
    font-size: 72px;
    width:800px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
}

.authors{
    font-size: 20px;
    margin-top: -32px;
}

.crisisContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crisisBody{
    font-size:20px;
    width:800px;
    line-height: 44px;
}

.baipContainer{
    margin-top:128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.baipHeader{
    font-size:44px;
    width:800px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
}

.baipBody{
    font-size:20px;
    width:800px;
    line-height: 44px;
}

.baipParallax{
    display:grid;
    grid-template-areas: "stack";
    height:11000px;
}


.parallax{
    display:grid;
    grid-template-areas: "stack";
    z-index: 1;
}

.parallax > *{
    grid-area: stack;
}

.image1{
    z-index: 4;
    opacity: 1;
    display: flex;
    align-items: start;
    gap:0px;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: 3000px;
}

.scroll1{
    position: sticky;
    top:-76px;
    width:100%
}

.image2{
    opacity:1;
    z-index: 3;
    display: flex;
    align-items: start;
    gap:0px;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range-start: 4000px;
    animation-range-end: 5000px;

}

.scroll2{
    position: sticky;
    top:-76px;
    width:100%
}

#quote1{
    display:absolute;
    margin-left: 300px;
    margin-top: 2488px;
    z-index: 10;
}


.image3{
    opacity:1;
    z-index: 2;
    display: flex;
    align-items: start;
    gap:0px;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range-start: 5000px;
    animation-range-end:10000px;
}

.scroll3{
    position: sticky;
    top:-76px;
    width:100%
}


#quote2{
    display:absolute;
    margin-left: 350px;
    margin-top: 4488px;
    z-index: 11;
}

.image4{
    opacity:1;
    z-index: 1;
    display: flex;
    align-items: start;
    gap:0px;
}

.scroll4{
    position: sticky;
    top:-76px;
    width:100%
}


#quote3{
    display:absolute;
    margin-left: 650px;
    margin-top: 8200px;
    z-index: 12;
}


@keyframes fade-out{
    to{
        opacity: 0;
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}







.finaidContainer{
    margin-top:128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finaidHeader{
    font-size:44px;
    width:800px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
}

.finaidBody{
    font-size:24px;
    width:800px;
    line-height: 44px;
}

.experienceContainer{
    margin-top:128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experienceHeader{
    font-size:44px;
    width:800px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
}

.experienceBody{
    font-size:24px;
    width:800px;
    line-height: 44px;
}


.housingMap{
    width:500px;
    height:1000px;
}

.mapContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}